# Code Practise #1

Ahmad Daneesh Syah Shahar
<br>ads766
<br>data_bootcamp fall'18

## Question 1

2+5 produces 7 because '+' adds the two integers.
<br> 2 + 5 produces 7 as well because the spacing does not affect the output.

In [83]:
2*5

10

<br> 2*5 outputs 10 as * represents the multiplication symbol. (Seen above)
<br> 2/5 outputs 0.4 as the division function returns a float value even when dividing with 2 integers.
<br> 2**5 returns 32 because it the exponent function and here represents 2 to the power of 5.

## Question 2

The value of x after running the statements is 10. The first statement sets the x variable to 7 and the second reassigns the x variable to equal the previously set x variable (7) plus 3.

## Question 3

The value of y after runnings the statements is still 3 and of x is 10. y is unaffected by the reassignment of the x variable to 10 because ywas set prior to it.

## Question 4

The code runs without an error and produces '1.5 abcabc'. The z variable is set to concatenate 2 (identical) strings which is possible.

In [5]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x,z)

1.5 abcabc

## Question 5

Yes the code produces an error. This is because varible z is set to concatenate a string and a float value which is not possible as they are two different object types.

## Question 6

The code run without an error and produces 3 | 24 | 8.0. The z variable is a float value as it assigned to 24/3. Each variable is printed out and separated by '|' surrounded by one space on each side.

In [3]:
x = 3
y = 24
z = y/x
print(x,y,z, sep=' | ')

3 | 24 | 8.0

## Question 7

The code runs with an error as a string (y, '24') cannot be divided by an integer (x, 3).

## Question 8

The code runs without an error and produces 'I am a #string' when the print function is used. What is written after # is a comment.

In [1]:
x = "I am a #string" #Whoa, a string
print(x)

I am a #string

## Question 9

The code produces [1, 2, 3, 42, 43] when using the print function, the z variable is set to the concatenation of the two lists assigned to x and y.

In [3]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

## Question 10

The code produces an error as you cannot concatenate a list with an integer as attempted for the z variable.

## Question 11

x1 - integer
<br> x2 - float
<br> x3 - string
<br> x4 - list
<br> x5 - list

## Question 12

type(42) produces 'int' as the type function reads the object in its parentheses and outputs its type
<br> type(42.0) outputs 'float' as 42.0 carries a decimal value.
<br> type('42.0') outputs 'str' as the single quotations indicate a string value.
<br> type("42.0") outputs 'str' as the double quotations indicate a string value.
<br> type("""42.0""") outputs 'str' as """ on each side of a value can also be used to indicate a string.
<br> type([1, 2]) outputs 'list'.
<br> type([1] + [2]) outputs 'list' as added values are list types.
<br> type(1 + 2) ouputs 'int' as the added values are int types.
<br> type(print) outputs 'builtin_function_or_method' as print is the method for printing in the console.

In [24]:
type(float(str(int)))

builtin_function_or_method

## Question 13

Working our way from the inside out. '1234' exists as string, the int() converts it into an integer, 1234. Then the str() converts the integer back into a string, '1234'. Float() then converts it into a float, 1234.0. The type function reads the value type and outputs it, which in this case is a float.

In [28]:
type(float(str(int('1234'))))

float

## Question 14

Working our way from the inside out. '12.34' is a string, the float method then converts that into a float, 12.34. Int() truncates the float to 12 (always rounds down). Finally, the type function reads the object and outputs its type, which here is an int.

## Question 15

len([1234]) outputs 1. The length function here counts and outputs the number of objects separated by a comma are in the list, which is 1 here.
<br> len("1234") outputs 4 as the length function counts and outputs the characters in the string which is 4 here.
<br> len(1234) produces an error as the length function cannot be used to count the length of an integer, or float for that matter

## Question 16

In [37]:
x = []
print(type(x))
print(len(x))

<class 'list'>
0

x = [] is a list type and is 0 list values long.

## Question 17

In [38]:
x = 'abcde'
x = list(x)
print(x)

['a', 'b', 'c', 'd', 'e']

Converting 'abcde' into a list converts each character in the string into a list value.

## Question 18

In [15]:
x = 1234
x = float(x)
print(x)

1234.0

In [16]:
# from float to int to string
x = int(x)
x = str(x)
print(x)

1234

In [17]:
x = int(x)
x = str(x)
x = list(x)
print(x)

['1', '2', '3', '4']

## Question 19

In [82]:
x = "luke, i am your father"
x = x.title()
print(x)

Luke, I Am Your Father

## Question 20

In [21]:
x = "How many characters and words are in the string?"
print(len(x))

48

Spaces in a string are also considered characters

In [75]:
x = list(x)
print(x)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

In [76]:
x = "How many characters and words are in the string?"
x = x.split()
print(x)

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'the', 'string?']

In [77]:
print(len(x))

9

x contains 9 words

## Question 21

https://github.com/DaneeshShahar/my_first_repository